# Before you start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [2]:
# Your code here:
df = pd.read_csv('../data/Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
df.head(5)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:

print("Salary: ", df[df['Salary or Hourly'] == 'Salary']['Salary or Hourly'].count(),
     "\nHourly: ", df[df['Salary or Hourly'] == 'Hourly']['Salary or Hourly'].count())

Salary:  25161
Hourly:  8022

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
departments = df['Department'].unique()
departments.sort()
dep_emp = pd.DataFrame([(d, df[df['Department'] == d]['Department'].count()) for d in departments],
                       columns=['Department', 'N employees'])
dep_emp.head(5)

          Department  N employees
0       ADMIN HEARNG           39
1      ANIMAL CONTRL           81
2           AVIATION         1629
3  BOARD OF ELECTION          107
4    BOARD OF ETHICS            8

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [31]:
# Your code here:
from statsmodels.stats.weightstats import ztest
from scipy import stats

import seaborn as sns
import matplotlib.pylab as plt

In [8]:
df.head(3)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN

In [9]:
#only hourly dataframe
df_h = df[df['Salary or Hourly'] == 'Hourly']
df_h.head(3)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60

In [24]:
#ztest:
Z_score, p_value = ztest(df_h['Hourly Rate'], value=30)

print(f'Z_score: {Z_score}', f'\np-value: {p_value}',
     f"\nHourly Average: {df_h['Hourly Rate'].mean()}")

Z_score: 20.6198057854942
p-value: 1.8228873859286195e-94
Hourly Average: 32.78855771628024

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [11]:
# police force df and Z test:
df_police = df[df['Department'] == 'POLICE']
df_police = df_police[df_police['Annual Salary'].notna()]

Z_score, p_value = ztest(df_police['Annual Salary'], value=86000)

print(f'Z_score: {Z_score}', f'\np-value: {p_value}',
     f"\nAnnual Salary Average: {df_police['Annual Salary'].mean()}")

Z_score: 3.081997005712994
p-value: 0.002056169057509571
Annual Salary Average: 86486.41450313339

In [12]:
df_police['Annual Salary'].mean()

86486.41450313339

Using the `crosstab` function, find the department that has the most hourly workers.

In [13]:
# Your code here:
df_police = df_police[df_police['Annual Salary'].notna()]
df_police.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13404 entries, 0 to 33181
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               13404 non-null  object
 1   Job Titles         13404 non-null  object
 2   Department         13404 non-null  object
 3   Full or Part-Time  13404 non-null  object
 4   Salary or Hourly   13404 non-null  object
 5   Typical Hours      0 non-null      float64
 6   Annual Salary      13404 non-null  float64
 7   Hourly Rate        0 non-null      float64
dtypes: float64(3), object(5)
memory usage: 942.5+ KB

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [29]:
# Your code here:

Z_score, p_value = ztest(df_h['Hourly Rate'], value=35)
T_statistic, p_value_2 = stats.ttest_1samp(df_h['Hourly Rate'], 35, axis=0)

print(f'Z_score: {Z_score}', f'\np-value: {p_value}')

print(f'T_statistic: {T_statistic}', f'\np-value: {p_value_2}',
     f"\nHourly Average: {df_h['Hourly Rate'].mean()}")

Z_score: -16.352363851001144
p-value: 4.1842798954255395e-60
T_statistic: -16.352363851001144
p-value: 3.7636889298508017e-59
Hourly Average: 32.78855771628024

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [35]:
# Your code here:
from scipy.stats import t
import numpy as np

In [38]:
t.interval(confidence=0.95, df=len(df_h['Hourly Rate'])-1, loc=np.mean(df_h['Hourly Rate']),
           scale=stats.sem(df_h['Hourly Rate']))

(32.52345834488425, 33.05365708767623)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [52]:
# Your code here:
from statsmodels.stats.proportion import proportions_ztest
n_h = len(df[df['Salary or Hourly'] == 'Hourly'])
n_s = len(df[df['Salary or Hourly'] == 'Salary'])
prop = n_h / n_s
prop_test = 0.25

In [59]:
stat, pval = proportions_ztest(n_h, n_s, prop_test)

In [60]:
stat, pval

(23.426913660396693, 2.273143538446588e-121)